.hero-image {
  background-color: bisque;
  background-image: url(../images/hero.jpeg);
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.nav {
   background-color: rgb(226, 226, 226);
border: 1px solid rgb(145, 145, 145); 
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  height: 30px;
  width: auto;
   margin: 0;
padding:0 ;    
display: flex;
justify-content: left;
}


.nav a{

padding: 5px;
text-decoration: none;
color: rgb(86, 86, 86);
}

.nav .active{
    background-color: rgb(246, 144, 144);
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h2 {
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#notes-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  background: rgb(236, 236, 236);
  border-radius: 8px;
  min-height: 100px;
}

#input-area {
  display: flex;
  max-width: 600px;
  margin: 20px auto;
}

.note {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

#note-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}

#submit-button {
  padding: 10px 15px;
  background: rgba(123, 120, 122, 0.733);
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

.note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.note span {
  flex-grow: 1;
}

.note button {
  margin-left: 5px;
  border: none;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.edit-btn {
  background: #8d7b7b;
  color: #fff;
}

.delete-btn {
  background: #776565;
  color: white;
}

form {
  text-align: center;
}

#contact {
  text-align: center;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f0f0f0;
    padding: 20px;
}

h1{
    text-align: center;
}

#notes-container{
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background: #fff; 
    border-radius: 8px;
    min-height: 100px;
}


.input-area{
    display: flex;
    max-width: 600px;
    margin: 20px auto;
}

.note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#note-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#submit-button{
    padding: 10px 15px;
    background: #00bcd4;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.note span{
    flex-grow: 1;
}

.note-button{
    margin-left: 5px;
    border: none;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.edit-button{
    background: orange;
    color: white;
}

.delete-button{
    background: #ff4d4d; 
    color: white;
}